<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Cadastrar Unidade de Medida</h4>
      </div>
      <hr class="m-t-0">
      <div class="card-body">
        <form [formGroup]="unidadeMedidaFormGroup">
          <div class="form-body">
            <div class="row">
              <div class="col-md-2">
                <div class="form-group">
                  <label for="id">Código</label>
                  <input formControlName="id" type="text" class="form-control" id="id" placeholder="Código" readonly>
                </div>
              </div>
              <div class="col-md-10">
                <div class="form-group">
                  <label for="descricao">Descrição</label>
                  <input formControlName="descricao" type="text" class="form-control" id="descricao" placeholder="Descrição" [class.ng-touched.ng-invalid]="unidadeMedidaFormGroup!.get('descricao')!.invalid">
                  <small class="form-text text-danger"
                         *ngIf="unidadeMedidaFormGroup!.get('descricao')!.touched && unidadeMedidaFormGroup!.get('descricao')!.invalid">
                    Descrição obrigatória.
                  </small>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-body bg-light">
        <div class="d-flex no-block align-items-center">
          <div class="action-form">
            <div class="form-group m-b-0 text-center">
              <button type="button" (click)="excluir()" *ngIf="unidadeMedidaFormGroup!.get('id')!.value" class="btn btn-danger">Excluir</button>
            </div>
          </div>
          <div class="ml-auto">
            <div class="btn-group">
              <a routerLink="/unidade-medida" style="padding-top: 14px; margin-right: 20px">voltar...</a>
              <button type="button" (click)="salvar()" class="btn btn-success">Salvar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
