<div class="row">
  <div class="col-12">
    <div class="card">

      <div class="card-body">
        <h4 class="card-title">Cadastrar Loja</h4>
      </div>
      <hr class="m-t-0">

      <div class="card-body">

        <form [formGroup]="lojaFormGroup">

          <h5 class="card-title">Dados do loja</h5>
          <hr class="m-t-0">

          <div class="form-body">

            <div class="row">

              <div class="col-md-2">
                <div class="form-group">
                  <label for="id">Código</label>
                  <input formControlName="id" type="text" class="form-control" id="id" placeholder="Código" readonly>
                </div>
              </div>

              <div class="col-md-2">
                <div class="form-group">
                  <label for="nome">Tipo</label>

                  <select class="form-control" formControlName="tipoPessoa">
                    <option [ngValue]="'FISICA'">Física</option>
                    <option [ngValue]="'JURIDICA'">Jurídica</option>
                  </select>
                </div>
              </div>

              <div class="col-md-4" *ngIf="lojaFormGroup.get('tipoPessoa')!.value=='FISICA'">
                <div class="form-group">
                  <label for="cpf">CPF</label>
                  <input type="text" class="form-control" id="cpf" name="cpf" formControlName="cpf" mask="000.000.000-00"
                         [class.ng-touched.ng-invalid]="lojaFormGroup!.get('cpf')!.invalid">
                  <small class="form-text text-danger"
                         *ngIf="lojaFormGroup!.get('cpf')!.getError('cpfNotValid')">
                    CPF inválido.
                  </small>
                  <small class="form-text text-danger"
                         *ngIf="lojaFormGroup!.get('cpf')!.touched && lojaFormGroup!.get('cpf')!.getError('cpfNull')">
                    CPF obrigatório.
                  </small>
                </div>
              </div>

              <div class="col-md-4" *ngIf="lojaFormGroup.get('tipoPessoa')!.value=='FISICA'">
                <div class="form-group">
                  <label for="nome">Nome</label>
                  <input formControlName="nome" type="text" class="form-control" id="nome"
                         [class.ng-touched.ng-invalid]="lojaFormGroup!.get('nome')!.invalid">
                  <small class="form-text text-danger"
                         *ngIf="lojaFormGroup!.get('nome')!.touched && lojaFormGroup!.get('nome')!.invalid">
                    Nome obrigatório.
                  </small>
                </div>
              </div>

              <!-- JURÍDICA -->
              <div class="col-md-4" *ngIf="lojaFormGroup.get('tipoPessoa')!.value=='JURIDICA'">
                <div class="form-group">
                  <label for="cnpj">CNPJ</label>
                  <input type="text" class="form-control" id="cnpj" name="cnpj" formControlName="cnpj" mask="00.000.000/0000-00"
                         [class.ng-touched.ng-invalid]="lojaFormGroup!.get('cnpj')!.invalid">
                  <small class="form-text text-danger"
                         *ngIf="lojaFormGroup!.get('cnpj')!.getError('cnpjNotValid')">
                    CNPJ inválido.
                  </small>
                  <small class="form-text text-danger"
                         *ngIf="lojaFormGroup!.get('cnpj')!.touched && lojaFormGroup!.get('cnpj')!.getError('cnpjNull')">
                    CNPJ obrigatório.
                  </small>
                </div>
              </div>

              <div class="col-md-6" *ngIf="lojaFormGroup.get('tipoPessoa')!.value=='JURIDICA'">
                <div class="form-group">
                  <label for="razaoSocial">Razão Social</label>
                  <input type="text" class="form-control" id="razaoSocial" name="razaoSocial"
                         formControlName="razaoSocial"
                         [class.ng-touched.ng-invalid]="lojaFormGroup!.get('razaoSocial')!.invalid">
                  <small class="form-text text-danger"
                         *ngIf="lojaFormGroup!.get('razaoSocial')!.touched && lojaFormGroup!.get('razaoSocial')!.invalid">
                    Razão Social obrigatório.
                  </small>
                </div>
              </div>

              <div class="col-md-6" *ngIf="lojaFormGroup.get('tipoPessoa')!.value=='JURIDICA'">
                <div class="form-group">
                  <label for="nome">Nome fantasia</label>
                  <input formControlName="nome" type="text" class="form-control" id="nome"
                         [class.ng-touched.ng-invalid]="lojaFormGroup!.get('nome')!.invalid">
                  <small class="form-text text-danger"
                         *ngIf="lojaFormGroup!.get('nome')!.touched && lojaFormGroup!.get('nome')!.invalid">
                    Nome fantasia obrigatório.
                  </small>
                </div>
              </div>

    

              <div class="col-md-3" *ngIf="lojaFormGroup.get('tipoPessoa')!.value=='JURIDICA'">
                <div class="form-group">
                  <label for="dataFundacao">Data de fundação</label>
                  <input type="date" class="form-control" id="dataFundacao" name="dataFundacao"
                         formControlName="dataFundacao">
                </div>
              </div>

              <div class="col-md-3" *ngIf="lojaFormGroup.get('tipoPessoa')!.value=='JURIDICA'">
                <div class="form-group">
                  <label for="id">Optante pelo Simples Nacional? </label>
                  <select class="form-control" formControlName="optanteSimplesNacional">
                    <option [ngValue]="true">Sim</option>
                    <option [ngValue]="false">Não</option>
                  </select>
                </div>
              </div>

              <div class="col-md-2" *ngIf="lojaFormGroup.get('tipoPessoa')!.value=='JURIDICA'">
                <div class="form-group">
                  <label class="control-label" style="margin-bottom: 0px;">Minha empresa vende</label>
                  <div class="custom-control custom-checkbox" style="margin-top: 5px;">
                    <input type="checkbox" class="custom-control-input" id="vendeProduto" name="vendeProduto" formControlName="vendeProduto">
                    <label for="vendeProduto" class="custom-control-label">Produto</label>
                  </div>
                  <div class="custom-control custom-checkbox" style="margin-top: 5px;">
                    <input type="checkbox" class="custom-control-input" id="vendeServico" name="vendeServico" formControlName="vendeServico">
                    <label for="vendeServico" class="custom-control-label">Serviço</label>
                  </div>

                  <small class="form-text text-danger"
                         *ngIf="!lojaFormGroup.get('vendeServico').value && !lojaFormGroup.get('vendeProduto').value">
                    Selecione ao menos uma opção
                  </small>

                </div>
              </div>

              <div class="col-md-3" *ngIf="lojaFormGroup.get('tipoPessoa')!.value=='JURIDICA' && lojaFormGroup.get('vendeServico')!.value">
                <div class="form-group">
                  <label for="inscricaoMunicipal">Inscrição municipal</label>
                  <input type="text" class="form-control" id="inscricaoMunicipal" name="inscricaoMunicipal"
                         formControlName="inscricaoMunicipal">
                </div>
              </div>

              <div class="col-md-3" *ngIf="lojaFormGroup.get('tipoPessoa')!.value=='JURIDICA' && lojaFormGroup.get('vendeProduto')!.value">
                <div class="form-group">
                  <label for="inscricaoEstadual">Inscrição estadual</label>
                  <input type="text" class="form-control" id="inscricaoEstadual" name="inscricaoEstadual"
                         formControlName="inscricaoEstadual"
                         [readOnly]="lojaFormGroup.get('isentoInscricaoEstadual').value">
                </div>
              </div>

              <div class="col-md-4" *ngIf="lojaFormGroup.get('tipoPessoa')!.value=='JURIDICA' && lojaFormGroup.get('vendeProduto')!.value">
                <div class="form-group">
                  <label class="control-label"> &nbsp;</label>
                  <div class="custom-control custom-checkbox" style="margin-top: 5px;">
                    <input type="checkbox" class="custom-control-input" id="isentoInscricaoEstadual" name="isentoInscricaoEstadual" formControlName="isentoInscricaoEstadual">
                    <label for="isentoInscricaoEstadual" class="custom-control-label">Empresa isenta de Inscrição Estadual</label>
                  </div>
                </div>
              </div>

            </div>


          </div>

          <h5 class="card-title">Endereço e contatos</h5>
          <hr class="m-t-0">

          <div class="form-body">
            <div class="row">

              <div class="col-md-4">
                <div class="form-group">
                  <label for="cep">CEP</label>
                  <input type="text" class="form-control" formControlName="cep" name="cep" id="cep" mask="00.000-000"
                         (blur)="consultarCep()">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="endereco">Endereço</label>
                  <input type="text" class="form-control" formControlName="endereco" name="endereco" id="endereco">
                </div>
              </div>

              <div class="col-md-2">
                <div class="form-group">
                  <label for="numero">Número</label>
                  <input type="text" class="form-control" formControlName="numero" name="numero" id="numero">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="complemento">Complemento</label>
                  <input type="text" class="form-control" formControlName="complemento" name="complemento"
                         id="complemento">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="bairro">Bairro</label>
                  <input type="text" class="form-control" formControlName="bairro" name="bairro" id="bairro">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="cidade">Cidade</label>
                  <input type="text" class="form-control" formControlName="cidade" name="cidade" id="cidade" readonly>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="telefoneComercial">Fone comercial</label>
                  <input type="text" class="form-control" formControlName="telefoneComercial" name="telefoneComercial"
                         mask="(00) 0000-0000||(00) 0 0000-0000"
                         [class.ng-touched.ng-invalid]="lojaFormGroup!.get('telefoneComercial')!.invalid"
                         id="telefoneComercial">
                  <small class="form-text text-danger"
                         *ngIf="lojaFormGroup!.get('telefoneComercial')!.invalid">
                    Fone comercial inválido.
                  </small>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" formControlName="email" name="email" id="email"
                         [class.ng-touched.ng-invalid]="lojaFormGroup!.get('email')!.invalid">
                  <small class="form-text text-danger"
                         *ngIf="lojaFormGroup!.get('email')!.getError('email')">
                    E-mail inválido.
                  </small>
                </div>
              </div>

            </div>
          </div>

        </form>


      </div>
      <div class="card-body bg-light">
        <div class="d-flex no-block align-items-center">
          <div class="action-form">
            <div class="form-group m-b-0 text-center">
              <button type="button" (click)="excluir()" *ngIf="lojaFormGroup!.get('id')!.value"
                      class="btn btn-danger">Excluir
              </button>
            </div>
          </div>
          <div class="ml-auto">
            <div class="btn-group">
              <a routerLink="/loja" style="padding-top: 14px; margin-right: 20px">voltar...</a>
              <button type="button" (click)="salvar()" class="btn btn-success">Salvar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


