<div class="row">
  <div class="col-12">

    <div class="card">


      <div class="card-body">
        <h4 class="card-title">Consultar Centro de Custo</h4>
      </div>
      <hr class="m-t-0">

      <div class="card-body">
        <div class="d-flex mb-3">
          <input type="text" class="form-control w-25" placeholder="Pesquisar Centro de Custo ..." [(ngModel)]="pesquisa"
                 (keyup)="pesquisar()">
          <button class="btn btn-primary ml-auto" routerLink="/centro-custo/novo">Novo Centro de Custo</button>
        </div>
        <div class="table-responsive table-bordered">

          <ngx-datatable
            class="material"
            [rows]="dataTable.rows"
            [columnMode]="ColumnMode.flex"
            [headerHeight]="50"
            [footerHeight]="50"
            rowHeight="auto"
            [externalPaging]="true"
            [count]="dataTable.totalElements"
            [offset]="dataTable.pageNumber"
            [limit]="dataTable.size"
            (page)="setPage($event)"
            [messages]="{emptyMessage:'Centro de Custo não encontrado'}"
            [selectionType]="'single'"
            (select)='selecionarCentroCusto($event)'
          >

            <ngx-datatable-column name="#" [flexGrow]="1" [prop]="'id'">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Nome" [flexGrow]="5" [prop]="'nome'">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>

        </div>
      </div>

    </div>
  </div>
</div>

