<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Consultar Recurso</h4>
      </div>
      <hr class="m-t-0">
      <div class="card-body">
        <div class="d-flex mb-3">
          <input type="text" class="form-control w-25" placeholder="Pesquisar Recurso ..." [(ngModel)]="pesquisa"
                 (keyup)="pesquisar()">
          <button class="btn btn-primary ml-auto" routerLink="/recurso/novo">Nova Recurso</button>
        </div>
        <div class="table-responsive table-bordered">
          <ngx-datatable
            class="material"
            [rows]="dataTable.rows"
            [columnMode]="ColumnMode.flex"
            [headerHeight]="50"
            [footerHeight]="50"
            rowHeight="auto"
            [externalPaging]="true"
            [count]="dataTable.totalElements"
            [offset]="dataTable.pageNumber"
            [limit]="dataTable.size"
            (page)="setPage($event)"
            [messages]="{emptyMessage:'Recurso não encontrada'}"
            [selectionType]="'single'"
            (select)='selecionarRecurso($event)'
          >
            <ngx-datatable-column name="#" [flexGrow]="1" [prop]="'id'">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Descrição" [flexGrow]="5" [prop]="'descricao'">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
